/**
 * Custom site tours.
 * http://introjs.com/docs/
 */

.site-tours-wrapper {
  text-align: right;
}

@media (max-width: 991px) {
  .site-tours-wrapper {
    margin-bottom: 20px;
    text-align: center;
  }
}

#siteTours-start i,
#siteTours i {
  margin-right: 6px;
}

#siteTours {
  z-index: 16000005;
}

#siteTours .modal-body {
  text-align: center;
}

#siteTours .modal-body button {
  display: inline-block;
  width: 45%;
  min-width: 210px;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: left;
}

/* Intro.js overrides */

.introjs-overlay {
  opacity: 1;
}

.introjs-tooltip__custom {
  padding: 25px;
  min-width: 300px;
  max-width: 400px;
  border-radius: 4px;
}

.introjs-tooltip__title {
  display: block;
  margin-bottom: 10px;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  color: #cc0000;
}

.introjs-helperNumberLayer {
  background: #cc0000;
}
