{% extends "paragraph--content-carousel.html.twig" %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% block content %}
            {{ parent() }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
