/**
 * Logo.
 */
.component-logo {
  min-height: 50px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
.component-logo__link {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
