{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "cypress"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}