/**
 * Cart.
 */
.view-commerce-cart-form {
  .cart-mobile-message {
    padding-bottom: 10px;

    @media (min-width: 630px) {
      display: none;
    }
  }

  table {
    min-width: 600px;
    margin-bottom: 20px;

    // Table head.
    thead {
      th.views-field-edit-quantity {
        text-align: center;
      }

      th.views-field-unit-price__number,
      th.views-field-total-price__number {
        text-align: right;
      }
    }

    // Table body.
    tbody {
      tr {
        td.views-field-remove-button {
          position: relative;

          input {
            display: inline-block;
            height: 40px;
            width: 40px;
            padding: 0;
            font-size: 0;
          }

          &:after {
            position: absolute;
            top: calc(50% - 17px);
            left: 17px;
            font-size: 23px;
            font-family: FontAwesome;
            content: '\f014';
            color: #fff;
            pointer-events: none;
          }
        }

        td.views-field-purchased-entity {
          img {
            width: 80px;
            height: 80px;
            border: 1px solid $gray;
          }

          div.field {
            display: none;
          }

          div.field--name-field-image {
            display: block;
          }
        }

        td.views-field-edit-quantity {
          text-align: center;

          input {
            text-align: center;
          }

          .form-optional {
            display: none;
          }
        }

        td.views-field-unit-price__number,
        td.views-field-total-price__number {
          text-align: right;
        }
      }
    }
  }

  .order-total-line {
    padding: 0 5px;
    text-align: right;

    .order-total-line-label {
      width: calc(100% - 155px);
    }

    .order-total-line-value {
      width: 150px;
    }
  }

  .form-actions {
    text-align: right;

    .btn {
      margin-right: 0;
    }

    #edit-submit {
      background-color: $gray-lighter;
      border-color: $gray-light;
      color: #000;

      &:hover, &:focus {
        background-color: $gray-lighter;
        border-color: $gray;
        color: $c-primary;
      }
    }
  }
}

/**
 * Login.
 */
.form-wrapper__returning-customer .form-optional {
  display: none;
}

.form-wrapper__login-option input.button,
#edit-actions-next {
  margin-right: 10px;
}

/**
 * Order info.
 */

// Summary.
.view-commerce-checkout-order-summary {
  padding: 15px;
  border: 1px solid $gray;
  border-radius: $border-radius;

  table {
    margin-bottom: 20px;

    // Table body.
    tbody {
      tr {
        td.views-field-total-price__number {
          text-align: right;
        }
      }
    }
  }

  .order-total-line {
    padding: 0 5px;
    text-align: right;

    .order-total-line-label {
      width: calc(100% - 100px);
    }

    .order-total-line-value {
      width: 90px;
    }
  }

  .field--name-weight {
    display: none;
  }
}

// Contact information.
.path-checkout #edit-contact-information,
.path-checkout #edit-review-contact-information {
  > legend {
    padding: 6px 0 10px;
    font-size: 26px;
    font-weight: 300;
    color: #cc0000;

    a {
      color: #000;
      font-size: 18px;

      &:hover, &:focus {
        color: $c-primary-hover;
      }
    }
  }
}

// Shipping information.
.path-checkout #edit-shipping-information,
.path-checkout #edit-review-shipping-information {
  > legend,
  #edit-shipping-information-shipments legend {
    padding: 6px 0 10px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
    color: #cc0000;

    a {
      color: #000;
      font-size: 18px;

      &:hover, &:focus {
        color: $c-primary-hover;
      }
    }
  }

  #edit-shipping-information-shipments {
    legend {
      margin-bottom: 20px;
    }

    .form-optional {
      display: none;
    }
  }

  .form-submit {
    display: none;
  }

  // Field widths.
  select.country,
  input.family-name,
  input.given-name,
  input.organization,
  input.locality {
    max-width: 240px;
  }

  input.postal-code {
    max-width: 100px;
  }
}

// Payment information.
.path-checkout {
  fieldset[id^='edit-payment-information'],
  #edit-review-payment-information {
    > legend {
      padding: 6px 0 10px;
      margin-bottom: 10px;
      font-size: 26px;
      font-weight: 300;
      color: #cc0000;

      a {
        color: #000;
        font-size: 18px;

        &:hover, &:focus {
          color: $c-primary-hover;
        }
      }
    }

    // Field widths.
    input[id^='edit-payment-information-add-payment-method-payment-details-security-code'] {
      max-width: 65px;
    }

    input[id^='edit-payment-information-add-payment-method-payment-details-number'],
    select.country,
    input.family-name,
    input.given-name,
    input.organization,
    input.locality {
      max-width: 240px;
    }

    input.postal-code {
      max-width: 100px;
    }
  }

  fieldset[id^='edit-payment-information-payment-method'] {
    legend {
      display: none;
    }

    .form-optional {
      display: none;
    }
  }
}
