/**
 * Homepage carousel slider.
 */
.homepage-carousel-slider {
  position: relative;
  clear: both;
  margin: 0 auto 20px auto;
  padding: 0;
  max-width: 1600px;
  overflow: hidden;

  // Slider.
  .slides {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: none;
      margin: 0;
      padding: 0;
      background: none;
    }
  }
  // Arrow navigation.
  .flex-direction-nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: absolute;
      top: 45%;
      margin: 0;
      padding: 0;
      background: none;
      z-index: 2;

      a {
        display: block;
        margin: 0;
        padding: 0;
        color: #dedede;
        font-family: $f-glyphicons;
        font-size: 30px;
        outline: none;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);

        &:hover {
          color: #fff;
        }
      }
    }
    li.flex-nav-prev {
      left: 20px;

      a:before {
        display: block;
        content: "\e079";
        margin: 0;
        padding: 0;
      }
    }
    li.flex-nav-next {
      right: 20px;

      a:before {
        display: block;
        content: "\e080";
        margin: 0;
        padding: 0;
      }
    }
  }
  // Item navigation.
  .flex-control-nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
    text-align: center;
    list-style: none;
    z-index: 2;

    li {
      display: inline-block;
      margin: 0 3px;
      padding: 0;
      font-size: 0;
      vertical-align: top;

      a {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        text-align: left;
        font-size: 0;
        text-indent: -99999px;
        background: none;
        border: 2px solid #fff;
        border-radius: 50%;
        outline: none;
        cursor: pointer;

        &:hover,
        &.flex-active {
          background: #fff;
        }
      }
    }
  }
}
.homepage-carousel-slide {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
}
.homepage-carousel-slide__image,
.homepage-carousel-slide__mobile-image {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.homepage-carousel-slide__content-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  background: $gray-darker;

  @media (min-width: $screen-xs-min) {
    position: absolute;
    bottom: 60px;
    left: 0;
    background: none;
  }
}
.homepage-carousel-slide__content {
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
  max-width: 1200px;

  @media (min-width: $screen-xs-min) {
    padding: 0 20px;
  }
}
.homepage-carousel-slide__title {
  h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);

    @media (min-width: $screen-xs-min) {
      font-size: 39px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    @media (min-width: $screen-sm-min) {
      font-size: 45px;
    }
  }
}
.homepage-carousel-slide__body {
  margin: 0 0 17px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);

  @media (min-width: $screen-xs-min) {
    font-size: 18px;
    line-height: 1.4;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  }
}
.homepage-carousel-slide__link-wrapper {
  display: block;
}
