/**
 * Landing Page.
 */
.page-node-type-landing-page {
  .region-highlighted,
  .region-above-content,
  .region-below-content {
    margin-left: auto;
    margin-right: auto;
    max-width: $screen-lg;

    > div {
      margin: 0 15px 20px;
    }
  }
  // Force hide the page title block.
  .block-page-title-block {
    display: none;
  }
  .site-content {
    margin: 0;
    padding: 0;
  }
  // Remove bootstrap column padding.
  .landing-page--content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

// Adjust region spacing if logged in.
.user-logged-in.toolbar-vertical.page-node-type-landing-page,
.user-logged-in.toolbar-horizontal.page-node-type-landing-page {
  .region-above-content > .block {
    margin: 20px 0;
  }
}
