/**
 * DrupalCon Preorder product styling.
 */

/**
 * Product full.
 */

.product--full.product--full--drupalcon-2018-drupal-commerce-tee {

  // DrupalCon Ticket ID form element.
  #drupal-username {
    .drupal-username__label {
      font-weight: 600;
      text-transform: uppercase;
      color: $c-primary;
    }

    .drupal-username__input {
      height: 40px;
      padding: 7px 19px;
      border-radius: 0;
    }

    .form-error {
      display: none;
    }
  }

  // Add to cart form.
  .field--name-variations {
    .field--name-quantity {
      display: none;
      visibility: hidden;
    }
  }
}


/**
 * Cart overrides.
 */

.cart-block--contents form[data-order-type="preorder_no_shipping"] {
  .views-field-quantity {
    display: none;
  }
}

.view-commerce-cart-form .order-type-preorder_no_shipping {
  // Hide table data that isn't needed for this order type.
  .views-field-unit-price__number,
  .views-field-edit-quantity {
    display: none;
  }
}

/**
 * Checkout complete.
 */

.checkout-complete__drupalcon-preorder {
  .instructions {
    display: block;
    padding-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-light;
  }
}
