/**
 * UH Recurring Digital product styling.
 */

/**
 * Product full.
 */

// Layout.
.path-product-sir-mix-bittm {
  .primary-nav {
    border-bottom: none;
  }

  .site-content {
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
  }

  .product__content--top {
    padding-bottom: 30px;

    @media (max-width: $screen-md-max) {
      padding-bottom: 0;
    }
  }
}

.product--full.product--full--uh-recurring-digital {

  // Page title hidden to start, then moved into paragraph with jQuery.
  .page-title {
    display: none;
  }
  .paragraph .page-title {
    display: block;
    margin-bottom: -15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }

  // Paragraph overrides.
  // Paragraph - 1 column content.
  .product__content--top .paragraph.paragraph--type--1-column-content {

  }

  // Paragraph - 2 column content.
  .paragraph.paragraph--type--2-column-image-content {
    &.wood-grain-bg {
      background: url(../gfx/product/uh-recurring-digital/uh-woodgrain-bg.jpg) repeat;
    }

    .paragraph--type--2-column-image-content__content-left:after,
    .paragraph--type--2-column-image-content__content-right:after {
      opacity: 0;

      @media (max-width: $screen-xs-max) {
        opacity: .75;
      }
    }
  }

  // Overall add to cart form.
  div[id^='commerce-product-add-to-cart-form'] {
    margin-bottom: 17px;

    h2 {
      margin-top: 15px;
      margin-bottom: 25px;
      font-size: 30px;
      letter-spacing: normal;
      color: $gray-darker;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 20px;
        font-size: 28px;
      }
    }

    .field--name-price {
      margin-bottom: 0;
      font-family: $f-tertiary;
      font-size: 50px;
      font-weight: 700;
      color: #333;
    }
  }
}
