/**
 * UH Axe product styling.
 */

/**
 * Product full.
 */
.product--full.product--full--uh-axe {

  // Page title hidden to start, then moved into paragraph with jQuery.
  .page-title {
    display: none;
  }
  .paragraph .page-title {
    display: block;
    margin-bottom: -15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }

  // Override default image field styles.
  .field--name-field-image {
    margin: 0;
    border: none;
  }

  // Add to cart form.
  #commerce-product-add-to-cart-form {

    h2 {
      margin-top: 15px;
      margin-bottom: 25px;
      font-size: 30px;
      letter-spacing: normal;
      color: $gray-darker;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 12px;
        font-size: 20px;
      }
    }

    .attribute-handle-length,
    .attribute-head-weight {
      margin-bottom: 30px;

      @media (max-width: $screen-xs-max) {
        .col-xs-4 {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .attribute-selector {
        display: block;
        height: 100%;
        width: 100%;
        padding: 5px 25px;
        margin-bottom: 20px;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.0);
        border-radius: 0;
        border: 1px solid #ccc;
        white-space: normal;
        transition: box-shadow .1s ease-in-out, border-color .1s ease-in-out, opacity .1s ease-in-out;

        &:before {
          position: absolute;
          top: 2px;
          right: 17px;
          bottom: 2px;
          left: 17px;
          border: 5px solid #f6f6f6;
          content: '';
        }

        @media (max-width: $screen-xs-max) {
          padding: 10px 5px 5px;
          margin-bottom: 10px;

          &:before {
            right: 7px;
            left: 7px;
          }
        }

        .attribute-selector__name {
          font-family: $f-tertiary;
          font-size: 60px;
          font-weight: 700;
          color: $c-body;

          @media (max-width: $screen-xs-max) {
            font-size: 30px;
          }
        }

        .attribute-selector__description {
          font-weight: 300;
          color: $gray-darker;

          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }

        &:hover, &:focus {
          box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
        }

        &.selected {
          border: 1px solid $c-primary;

          &:hover, &:focus {
            box-shadow: 0 4px 15px 0 rgba(0,0,0,0.0);
            cursor: default;
          }
        }
      }
    }
  }
}
