/**
 * Product teaser.
 */

.view-products,
.view-featured-products {
  margin-bottom: 30px;

  .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .views-row {
      display: inline-block;
      vertical-align: top;
      width: 18%;
      margin: 0 2% 20px 0;

      @media (max-width: $screen-sm-max) {
        width: 30%;
        margin: 0 3% 20px 0;
      }

      @media (max-width: $screen-xs-max) {
        width: 30%;
      }

      @media (max-width: 485px) {
        width: 47%;
      }

      a.product--teaser {
        display: block;
        line-height: 1.3em;
        color: #000;

        .product--thumbnail {
          position: relative;
          display: inline-block;
          width: 100%;
          max-width: 170px;
          height: 170px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          overflow: hidden;

          @media (max-width: $screen-md-max) {
            height: 140px;
          }

          @media (max-width: $screen-sm-max) {
            height: 160px;
          }

          @media (max-width: $screen-xs-max) {
            height: 135px;
          }

          @media (max-width: 485px) {
            height: 170px;
          }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            &.no-product-thumbnail {
              opacity: 0.15;
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }

        .field--name-price {
          margin-bottom: 8px;
          font-size: 24px;
          font-weight: 300;
          color: $c-primary;

          .field__label {
            display: none;
          }
        }

        .field--name-title {
          margin-bottom: 2px;

          &:hover {
            color: $c-primary;
          }
        }

        .field--name-field-brand {
          .field__item {
            display: inline-block;
            font-size: 12px;
            font-weight: 700;

            &:after {
              content: ',';
              margin-right: 2px;
            }

            &:last-of-type:after {
              content: '';
            }
          }
        }

        &:focus {
          .product--thumbnail {
            opacity: 0.8;
          }

          .field--name-title {
            color: $c-primary;
          }
        }
      }
    }
  }
}

// Full page width teaser blocks.
.view-featured-products {
  border-bottom: 1px solid $gray;

  .view-content {
    justify-content: space-between;

    .views-row {
      width: 15%;
      margin: 0 0 20px 0;

      @media (max-width: $screen-sm-max) {
        width: 22%;

        &:nth-of-type(5),
        &:nth-of-type(6) {
          display: none;
        }
      }

      @media (max-width: $screen-xs-max) {
        width: 30%;

        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          display: none;
        }
      }

      @media (max-width: 485px) {
        width: 47%;

        &:nth-of-type(4) {
          display: inline-block;
        }
      }

      a.product--teaser {
        .product--thumbnail {
          @media (max-width: $screen-md-max) {
            height: 140px;
          }

          @media (max-width: $screen-sm-max) {
            height: 156px;
          }

          @media (max-width: $screen-xs-max) {
            height: 135px;
          }

          @media (max-width: 485px) {
            height: 170px;
          }
        }
      }
    }
  }
}

// Product page teaser block.
.path-product .view-featured-products {
  border-bottom: none;
  margin-bottom: 0;
}

/**
 * Product full.
 */
.product--full {
  // Back button.
  .back-and-share {
    @media (max-width: 420px) {
      text-align: center;
    }
  }

  a.back-to-products {
    float: left;
    display: inline-block;
    position: relative;
    padding: 3px 17px 4px 11px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    font-size: 14px;
    color: #000;

    @media (max-width: 420px) {
      float: none;
    }

    &:before {
      position: relative;
      display: inline-block;
      margin-right: 12px;
      font-size: 12px;
      font-family: FontAwesome;
      content: '\f053';
      color: #666;
    }

    &:hover, &:focus {
      color: $c-primary;

      &:before {
        color: $c-primary;
      }
    }
  }

  // ShareThis.
  .sharethis-inline-share-buttons {
    display: inline-block !important;
    width: 200px;
    float: right;
    margin-bottom: 20px;

    @media (max-width: 420px) {
      display: block !important;
      width: 100%;
      float: none;
      text-align: center !important;
    }
  }

  // Product images.
  .field--name-field-image {
    margin: 0 auto 40px;
    border: 1px solid #ccc;
  }

  // Product intro.
  .product--intro {
    padding-left: 30px;

    @media (max-width: $screen-sm-max) {
      padding: 0;
    }

    .field--name-field-brand {
      .field__item {
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        color: #333;

        &:after {
          content: ',';
          margin-right: 2px;
        }

        &:last-of-type:after {
          content: '';
        }
      }
    }

    .page-title {
      @media (max-width: $screen-md-max) {
        font-size: 44px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 36px;
      }
    }

    .field--name-price {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
      color: $c-primary;
    }

    .field--name-field-short-description {
      margin-bottom: 18px;
    }

    .field--name-variations {
      label {
        font-weight: 600;
        text-transform: uppercase;
        color: $c-primary;
      }

      .form-required {
        display: none;
      }

      select {
        position: relative;
        max-width: 370px;
        height: 40px;
        padding: 7px 40px 7px 19px;
        border-radius: 0;
        background: url(../gfx/select-arrow.svg) calc(100% - 9px) center no-repeat;
        background-size: 21px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }

    .form-actions {
      margin-top: 35px;

      input {
        padding: 8px 27px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.04em;
      }
    }
  }

  // Additional details tabs.
  .additional-details {
    margin: 38px 0 10px;
  }
}
