{#
/**
 * @file
 * Theme override for a Products Reference field within Featured Products.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('commerce_2_demo/paragraph-featured-products') }}
{%
  set classes = [
    'component-featured-products__slider',
    'component-featured-products__slider--no-slider',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('component-featured-products__slider__slide') }}>
      <div class="component-featured-products__slider__slide__item">
        {{ item.content }}
      </div>
    </div>
  {% endfor %}
</div>
